.nav {
    background-color: #04a8c5;
}


.nav-link {
    color: black;
}

.pic-size {
    width: 100%;
    /* height: 100px; */
}

/* .row {
    height: 100px;
} */

.carousel-inner {
    height: 300px;
    padding-top:10px;
}

.card {
    float: left;
    padding: 10px;
    margin: 10px;
}

#grad1 {
    height: 700px;
    background-color: black; 
    background-image: linear-gradient(black, gray); 
    background-repeat: repeat;
  }

  .card-img-top {
      margin-top: 20px;
  }